*.o
*.lo
*.la
*.cppe

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/ed_holidays
/src/ed_notify
/src/ed_presence
/src/ed_statistics
/src/ed_webapp
/src/notifier.he
