[system]
url=https://example.com
mainteners=Elterndienst

[database.mysql]
host=localhost
user=elpla
password=elpla
database=elpla

[notify.mail]
availability.body=avail.msg
assignment.body=assign.msg

notifier=elpla@example.com
smtp.server=smtps://smtp.example.com:465
smtp.user=user
smtp.password=password
